.Quiz {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient( 90deg, #621c9c 0%, #8a69e6 100%);

}

.Quiz h1 {
    color:#FFF;
    margin-left: 10px;
    text-align: center;
}

.QuizWrapper {
    width: 800px;
}